@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
	--darkCyan: hsl(185, 75%, 39%);
	--veryDarkBlue: hsl(229, 23%, 23%);
	--darkGrayishBlue: hsl(227, 10%, 46%);
	--darkGray: hsl(0, 0%, 59%);
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body{
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;

	background-color: var(--darkCyan);

	width: 100%;
	height: 100vh;

	overflow: hidden;

	position: relative;
}

.bg-pattern{
	position: absolute;
	z-index: -1;
}

.top-bg-pattern{
	top: -80%;
	left: -20%;
}

.bottom-bg-pattern{
	bottom: -100%;
	right: -20%;
}

.card{
	width: 350px;
	border-radius: 15px;
	overflow: hidden;
}

.victor-img{
	margin-top: -50px;
}

.victor-img .border{
	border-color: white !important;
}

.card-footer small{
	font-size: 12px;
}

footer{
	position: absolute;
	bottom: 0;
}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 768px){
	.top-bg-pattern{
		width: 100%;
	}

	.bottom-bg-pattern{
		width: 100%;
	}
}


@media only screen and (max-width: 576px){
	.card{
		width: 90%;
	}

	.top-bg-pattern{
		top: -30%;
		left: -45%;
	}

	.bottom-bg-pattern{
		bottom: -25%;
		right: -45%;
	}
}